ARIZE_SPACE_ID=
ARIZE_API_KEY=
ARIZE_PROJECT_NAME=

AUTHORIZED_NUMBERS=
OPENAI_API_KEY=
GEMINI_API_KEY=
SERPER_API_KEY=
TODOIST_API_KEY=
WHATSAPP_BOT_PHONE_NUMBER=
WHATSAPP_MESSENGER_URL=
WHATSAPP_MESSENGER_TOKEN=

# DEV
CREWAI_TRACING_ENABLED=true
DEV_MODE=true
